@import "utils/vars";
@import "utils/animation";

html {
  font-family: $mainFont;
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

p {
  margin: 0;
}

input, textarea, select, button {
  outline: none;
  border: 1px solid $border-base;
}

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wrapper-content--fixed {
    margin-top: 80px;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    width: 546px;
  }
}

@media screen and (min-width: 780px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 932px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1360px;
  }
}

@media screen and (min-width: 1710px) {
  .container {
    width: 1650px;
  }
}

.no-scroll {
  overflow: hidden;
  height: 0;
}

@import "./common.scss";
