.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar {
  width: 24%;
  padding-top: 22px;
}

.content {
  width: 74%;
}

.catalog-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.search-results {
  position: absolute;
  left: 0;
  bottom: 0;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  font-size: 24px;

  p {
    font-size: 24px;
  }
}
