.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -14px;
}

.product-item {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 31%;
  margin: 0px 14px 28px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  overflow: hidden;
  transition: .3s;

  &.full {
    flex-flow: wrap;
    justify-content: flex-start;
    width: 100%;

    .product-item__wrapper {
      width: 66%;
      display: flex;
      flex-wrap: wrap;
      padding: 30px;

      .product-item__img {
        width: 33%;

        img {
          max-height: 150px;
        }
      }

      .product-item__info {
        width: 66%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-left: 30px;

        .product-item__extra {
          justify-content: flex-start;
          order: 3;

          .product-item__rating {
            margin-right: 20px;
          }
        }

        .product-item__title {
          font-size: 1rem;
          order: 1;
          padding-top: 0;
          padding-bottom: 8px;
        }

        p.product-item__descr {
          font-size: 0.8rem;
          order: 2;
          padding-bottom: 20px;
        }
      }
    }

    .product-item__btns {
      width: 33%;
      flex-flow: column;
      align-items: flex-end;
      padding: 30px;

      .product-btn {
        margin: 15px 0;
        border-radius: 4px;
      }
    }
  }
}

.product-item__wrapper {
  padding: 22px;
}

.product-item__img {
  padding: 10px 10px 25px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
    height: 100%;
    max-height: 300px;
  }
}

.product-item__extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-item__rating {
  position: relative;
  padding: 6px 32px 6px 8px;
  color: #fff;
  background: #6F64F8;
  border-radius: 3px;
  font-size: 0.8rem;

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 9px;
    background-image: url('~@/assets/img/star-white.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
  }
}

a.product-item__title {
  display: block;
  color: #2c2c2c;
  font-size: 0.9rem;
  padding-top: 16px;
}

p.product-item__descr {
  font-weight: 300;
  font-size: 0.7rem;
}

.product-item__btns {
 display: flex;
 align-items: center;
 justify-content: center;
}

.product-btn {
  width: 50%;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: .3s;

  &.product-btn--wishlist {
    background: #ededed;

    &:hover {
      background: #d8d8d8;
    }

    span {
      position: relative;
      padding-left: 15px;

      &::after {
        content: '';
        position: absolute;
        left: -6px;
        top: 1px;
        background-image: url('~@/assets/img/wishlist.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 15px;
        height: 13px;
      }
    }
  }

  &.product-btn--cart {
    background-color: #6F64F8;
    color: #fff;

    &:hover {
      background-color: #5e53de;
    }

    span {
      position: relative;
      padding-left: 15px;

      &::after {
        content: '';
        position: absolute;
        left: -6px;
        top: 0;
        background-image: url('~@/assets/img/cart.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
      }
    }
  }
}
