.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 50px;
  padding: 14px 20px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 23px;
    height: 23px;
    path,
    rect {
      transition: .3s;
    }
  }

  &:hover {
    svg path,
    svg rect {
      stroke: $blue;
    }
  }
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__user {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.user-info {
  text-align: right;
  padding-right: 12px;
}

.user-info__name {
  font-size: 0.8rem;
  line-height: 100%;
  padding-bottom: 4px;
}

.user-info__status {
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 100%;
}

.user-avatar {
  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    margin: 30px 0 40px;
    padding: 12px;
  }

  .toolbar__item {
    margin-right: 8px;
    transform: scale(0.7);
  }

  .navbar__user {
    margin-left: 10px;
  }

  .user-info {
    padding-right: 8px;
  }

  .user-avatar {
    img {
      width: 28px;
      height: 28px;
      vertical-align: middle;
    }
  }
}
